/* Start Box */
.d-flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.space-between {
    justify-content: space-between;
}
.f-wrap {
    flex-wrap: wrap;
}
.f-grow {
    flex-grow: 1;
}
.d-grid {
    display: grid;
}
.d-block {
    display: block;
}
.gap-10 {
    gap: 10px;
}
.gap-20 {
    gap: 20px;
}
/* End Box */
/* Start Padding + Margin */
.p-10 {
    padding: 10px;
}
.p-20 {
    padding: 20px;
}
.p-15 {
    padding: 15px;
}
.pt-10 {
    padding-top: 10px;
}
.pt-15 {
    padding-top: 15px;
}
.pt-20 {
    padding-top: 20px;
}
.pb-5 {
    padding-bottom: 5px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pl-5 {
    padding-left: 5px;
}
.pl-10 {
    padding-left: 10px;
}
.pl-15 {
    padding-left: 15px;
}
.m-15 {
    margin: 15px;
}
.m-20 {
    margin: 20px;
}
.mt-0 {
    margin-top: 0;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-25 {
    margin-top: 25px;
}
.mr-5 {
    margin-right: 5px;
}
.mr-10 {
    margin-right: 10px;
}
.mr-15 {
    margin-right: 15px;
}
.mr-20 {
    margin-right: 20px;
}
.mb-0 {
    margin-bottom: 0;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-25 {
    margin-bottom: 25px;
}
.ml-10 {
    margin-left: 10px;
}
.ml-20 {
    margin-left: 20px;
}
.w-full {
    width: 100%;
}
.w-fit {
    width: fit-content;
}
.w-40 {
    width: 40px;
}
.w-100 {
    width: 100px;
}
.h-full {
    height: 100%;
}
.h-100 {
    height: 100px;
}
.h-40 {
    height: 40px;
}
/* End Padding + Margin */
/* Start Color */
.bg-white {
    background-color: white;
}
.bg-eee {
    background-color: #eee;
}
.bg-blue {
    background-color: #0075ff;
}
.bg-orange {
    background-color: #f59e0b;
}
.bg-green {
    background-color: #22c55e;
}
.bg-red {
    background-color: #f44336;
}
.c-black {
    color: black;
}
.c-white {
    color: white;
}
.c-blue {
    color: #0075ff;
}
.c-alt-blue {
    color: #0d69d5;
}
.c-orange {
    color: #f59e0b;
}
.c-green {
    color: #22c55e;
}
.c-red {
    color: #f44336;
}
.c-grey {
    color: #888;
}
/* End Color */
/* Start Position */
.p-relative {
    position: relative;
}
.p-absolute {
    position: absolute;
}
.over-hidden {
    overflow: hidden;
}
/* End Position */
/* Start Font */
.txt-c {
    text-align: center;
}
.fs-13 {
    font-size: 13px;
}
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fs-16 {
    font-size: 16px;
}
.fs-25 {
    font-size: 25px;
}
.fw-normal {
    font-weight: normal;
}
.fw-bold {
    font-weight: bold;
}
/* End Font */
/* Start Border */
.rad-6 {
    border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
}
.rad-50 {
    border-radius: 50%;
}
.border-ccc {
    border: 1px solid #ccc;
}
.border-eee {
    border: 1px solid #eee;
}
.border-2eee {
    border: 2px solid #eee;
}
.bt-eee {
    border-top: 1px solid #eee;
}
.bb-eee {
    border-bottom: 1px solid #eee;
}
.b-none {
    border: none;
}
/* End Border */
@media (max-width: 767px) {
    .hide-mo {
        display: none;
    }
    .txt-c-mobile {
        text-align: center;
    }
    .block-mo {
        display: block;
    }
    .m-10-auto-mo,
    .w-fit-mo {
        margin: 10px auto;
        width: fit-content;
    } 
    .mb-10-mo {
        margin-bottom: 10px;
    }
}
/* Start Component */
.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
}
/* End Component */